$mainColor:  #DC143C;
$topbarColor:  #262728;
$textColor: #262728;
$paraColor: #585858;
$bkColor: #FBE7EB;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}

